<html>
    <head>
      <title>Flask-Dash App Factory</title>
    </head>
    <body>
        <header>
            <!-- <a href="/" class='nav-bar-text-link'>Home:</a> -->
            <a href="/app1" class='nav-bar-text-link'>Data Report</a>
            <a href="/app2" class='nav-bar-text-link'>Data History</a>
            
        </header>
        {% block content %}{% endblock %}
    </body>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app_style.css')}}">
</html>